<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yang.flashtable">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"
        tools:replace="android:value"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1qukcqJkUZtxiKApJlp6O8oiYP25fyrs" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StoreMainActivity"
            android:hardwareAccelerated="true"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".StoreRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".CustomerRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".CustomerLoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CustomerMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".CustomerSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LightActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".CustomerReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CustomerCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LightActionBar">
        </activity>
        <activity
            android:name=".CustomerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LightActionBar">
        </activity>
        <activity
            android:name=".CustomerRatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".CustomerNameActivity"
            android:theme="@style/AppTheme.LightActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".CustomerCreditsActivity"
            android:theme="@style/AppTheme.OrangeActionBar"/>
        <activity
            android:name=".QrcodeScannerActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".CustomerShopActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".CustomerCropProfileActivity"
            android:theme="@style/AppTheme.LightActionBar"/>

        <!--<provider android:name=".customer.provider.SearchSuggestionProvider"
            android:authorities="com.example.yang.flashtable.customer.provider.SearchSuggestionProvider" />-->

    </application>

</manifest>